#myDIV {
    height: 1450px;
    width: 2050px;
    overflow: scroll;
}

#content {
    height: 800px;
    width: 1500px;
    background-color: coral;
}

#yellow {
    height: 400px;
    width: 800px;
    background-color: rgb(167, 184, 134);
}